

body {
background-color: linear-gradient(to right, blue, purple) !important;
}

h1 {
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
    padding: 15px;
}

h3 {
    font-family: 'Kalam', cursive;
}

#searchBtn {
    display: inline;
    padding: 5px;
}

.col {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center/space-between; */
    border: 1px solid black;
    height: 300px;
    width: 200px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: rgb(204, 204, 204);
}

#search {
    background-color: rgb(111, 114, 133) !important;
}

#day1, #day2, #day3, #day4, #day5 {
    text-align: center;
    font-weight: bold;
}

#moment {
    font-weight: bold;
}

#city {
    font-weight: bold;
    font-size: larger;
}